@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

:root {
    --main-color: #EFEAE3;
    --text-color: #1D1F21;
    --accent-color: #FE330A;
    --divider-color: #2c2c2c50;
    --secondary-color: #000000;
}

*, html {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    color: var(--text-color);
    overflow: hidden;
}

header nav {
    display: flex;
    width: 100vw;
    /* height: 4rem; */
    align-items: center;
    justify-content: space-between;
    /* background: red;s */
    padding: 1.3rem 2.3rem;
}

header nav .site-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .site-nav ul h4 {
    margin-left: 2rem;
}

header .site-nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}